<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btnGet").on("click",function(){
                alert('button Clicked');
            });
        });
    </script>
</head>
<body>
    <h1>View to Access REST APIs.</h1>
    <input type="button" value="Get Data" id="btnGet" />
</body>
</html>